<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registrar Pedido</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Registrar Pedido</h1>
        
        <form action="{% url 'url_home' %}">
            <input type="submit" value="Voltar para a home"></input>
        </form>
        <br>
        <form action="{% url 'readPedido' %}">
            <input type="submit" value="Voltar para a listagem de pedidos"></input>
        </form>
        <br>
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Salvar</button>
        </form>
            
        
        <script src="" async defer></script>
    </body>
</html>