<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pedidos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Listagem de Pedidos</h1>

        <form action="{% url 'url_home' %}">
            <input type="submit" value="Voltar para a home"></input>
        </form>
        <br><form action="{% url 'createPedido' %}">
            <input type="submit" value="Adicionar Pedido"></input>
        </form>
        <br>
        <ul>
        {% for pedido in pedidos %}
            <li>
                <a href="{% url 'updatePedido' pedido.id %}">
                    {{ pedido.cpf }} - {{ pedido.endereco }} - {{ pedido.codigoProduto }} - {{ pedido.prazoEntrega }}
                </a>
            </li>
        {% endfor %}
        </ul>
        
        <script src="" async defer></script>
    </body>
</html>